:root {
    --body-color: #f8f8ff;
    --main-color: #696969;
    --popup-bg: #444;
    --popup-color: #eee;
    --popup-label-color: #aaa;
    --div-card-hover-bg: #ddd;
    --card-link-color: #fff;
    --card-link-bg: transparent;
    --overlay-color: #00000088;
    --hilite-color: #fff;
}

html {
    /*height: 100%;*/
}

body {
    margin: 0;
    background-color: var(--body-color);
}

div.content {
}

label {
    color: var(--main-color);
    font-weight: bold;
    font-size: 18pt;
}
div.title {
    color: var(--main-color);
    font-weight: bold;
    font-size: 18pt;
    display: inline-block;
}

div.link-card {
    display: inline-block;
    margin: 1px 6px;
    width: 200px;
}

div.link-card:hover div.card {
    background-color: var(--div-card-hover-bg);
}

div.card {
    text-align: center;
    font-size: larger;
    background-color: var(--main-color);
    display: inline-block;
    border: solid thin var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 83%;
    padding: 8%;
    white-space: nowrap;
    cursor: pointer;
}

div.link-card a {
    color: var(--card-link-color);
    font-weight: bold;
    background-color: var(--card-link-bg);
}

div.link-card:hover a {
    color: var(--main-color);
}

button.icon-button {
    font-size: x-large;
    border-radius: 10%;
    padding: 0.125em;
}

div.menu-panel {
    text-align: right;
    visibility: hidden;
}

div.menu-panel button.icon-button {
    background-color: transparent;
    border: none;
    margin-top: 0.25em;
    margin-right: 0.25em;
    color: var(--main-color);
}

div.menu-panel button.icon-button:hover {
    text-shadow: 1px 1px 2px var(--main-color);
}

button#add-button,
button#search-button {
    margin-left: 0.25em;
    background-color: var(--main-color);
    color: var(--hilite-color);
}

button#add-button:hover,
button#search-button:hover {
    background-color: var(--hilite-color);
    color: var(--main-color);
}

div.popup-panel {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    display: none;
}

div.popup-error {
    border: solid thin red;
}

.error-message {
    font-size: xx-large;
    color: red;
}

div.popup {
    padding: 0.55em 1.55em;
    background: var(--popup-bg);
    color: var(--popup-color);
    text-align: left;
}

div.popup-panel div.popup {
    display: inline-block;
    position: absolute;
}

div.popup p {
    min-width: 200px;
    max-width: 350px;
    text-align: center;
}

div.popup .button-panel {
    text-align: right;
}

div.popup .button-panel button {
    margin-left: 0.5em;
    color: white;
    background-color: gray;
    width: 6em;
    height: 1.8em;
    border: none;
}

div.popup .button-panel button.ok-button {
    background-color: dodgerblue;
}

div.popup label {
    color: var(--popup-label-color);
    font-weight: normal;
    font-size: 8pt;
}

div.popup input {
    min-width: 200px;
}

div.popup label,
div.popup input,
div.popup .button-panel {
    margin: 0.5em;
}

div.search-panel {
    margin: 6em 0 3em 0;
    text-align: center;
}

div.search-panel input {
    width: 50%;
    padding: 0.25em;
    border: solid thin gray;
    font-size: x-large;
    margin-left: 0.25em;
    margin-right: 0;
}

/* Little larger screen*/
@media only screen and (min-width: 480px) {
    div.content {
        margin: auto 25%;
        width: 300px;
    }
}

/* Pads and larger phones*/
@media only screen and (min-width: 600px) {
    div.content {
        width: 300px;
    }
}

/* Larger pads*/
@media only screen and (min-width: 768px) {
    div.content {
        width: 450px;
    }
}

/* Horizontal pads and laptops*/
@media only screen and (min-width: 992px) {
    div.content {
        width: 700px;
    }
}

/* Really large screens*/
@media only screen and (min-width: 1382px) {
    div.content {
        width: 750px;
    }
}

/* 2X size (iPhone 4 etc)*/
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),*/
/*only screen and (-o-min-device-pixel-ratio: 3/2),*/
/*only screen and (min-device-pixel-ratio: 1.5) {*/
/*    content {*/
/*        margin: auto 20px;*/
/*    }*/

/*}*/